* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background: #0000001f;
  scroll-behavior: smooth;
}
/**  NAV BAR */
.nav {
  position: sticky;
  top: 0px;
  z-index: 99;
  height: 5vh;
  background-color: #c9c9c9;
}
.head {
  font-family: "Red Rose", cursive;
}
.para {
  font-family: "Hind", sans-serif;
}
.title {
  font-family: "PT Sans Caption", sans-serif;
}
.arrow {
  position: absolute;
  bottom: 10%;
  background-image: url(./images/down.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  animation: pulsate-bck 0.8s ease-in-out 2s infinite both;
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-list-item {
  display: block;
  line-height: 5vh;
  font-size: 1.3rem;
  display: block;
  width: 33.33%;
  border-right: 1px solid #f5f3f3;
  text-align: center;
}
.last {
  border-right: none;
}
.nav-list-item > a {
  text-decoration: none;
  color: #000;
}
/** FIRST PAGE*/
.landing-page {
  width: 100%;
  height: 95vh;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  background-color: #adadad60;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
}
@media only screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
  .info-card {
    flex-direction: column;
  }
  .info-box {
    margin: 10px;
    padding: 5px;
  }
}
.info-box {
  height: 300px;
  margin: auto 30px;
  padding: 20px;
}
.info-box > h1 {
  margin: 15px 10px;
  font-size: 2.5rem;
}
.info-box > h2 {
  margin: 15px 10px;
  font-size: 1.7rem;
}
.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 89% 11% 90% 10% / 18% 92% 8% 82%;
}
.sub-info {
  max-width: 400px;
  text-align: left;
  font-size: 1.1rem;
}
#projects,
#contact {
  height: 80vh;
}
